

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
    <h1>Stocks market </h1>
    <input class="megaMenuButtons" type="button" value = "One note" id="addStock"><br>
    <ul>
        <% filterStock.forEach(function(symbol){%>
        <li><%= symbol%> </li>
        <% }) %>
    </ul>
    </body>

</html>
