

<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
    width: 80%;
    position: relative;
}
#selector{
    width:120px;
    position:relative;

}
.flex-container {
  display: flex;
  flex-direction: column;
}
</style>

</head>
<% console.log('rendering main.ejs') %>
<body>
    <h1>Stocks market </h1>
    <div><a href="/key" >Get Key</a></div>
    <input class="megaMenuButtons" type="button" value = "One note" id="addStock"><br>

    <div class ="flex-container">
            <% allStocks.forEach(function(date){ %>
      <a href ="/stockGrabberDock/<%=date %>"><%=date %></a>
            <% }) %>
     </div>
    </body>

</html>
